body {
  background-color: #15202b;
  color: white;
}

.App {
  /* text-align: center; */
  /* align-items: center; */
}
/* .container{
    background-color: #15202B;
} */

.input-group {
  /* display: block; */
  background-color: #15202b;
  border: none !important;
  width: 600px !important;
  align-items: center !important;
  position: relative;
}

.form-control {
  height: 180px !important;
  /* position: relative; */
  background-color: #15202b !important;
  border: 1px solid white !important;
  align-items: center !important;
}

.tweet-list {
  list-style-type: none;
}

.tweet {
  background-color: #343a40;
  border: 1px solid #343a40;
  border-radius: 7px;
  margin: 20px;
  padding: 20px;
  width: 600px;
}

 .btn-primary {
  position: absolute !important;
    z-index: 99;

  /* display: block !important; */
}
.btn {
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 99;
}

.warning {
  display: block;
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

/* .div-button{
  display: block;
} */
