body {
  background-color: #15202b !important;
  color: white;
}

.input-tweets {
  background-color: #15202b;
  border: none !important;
  position: relative !important;
}

.input-tweets-text {
  height: 180px !important;
  background-color: #15202b !important;
  border: 1px solid white !important;
}

.tweet-list {
  list-style-type: none;
  padding: 0;
}

.tweet {
  background-color: #343a40 !important;
  border: 1px solid #343a40 !important;
  border-radius: 7px !important;
  width: 600px !important;
 
}

.tweets-button {
  position: absolute !important;
  z-index: 99;
}
.button {
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 99;
}

.warning {
  display: block;
}

.username {
  display: block;
  width: 600px;
  margin: 0 115px;
}

.username-form {
  position: relative;
  align-items: center;
}

.username-label {
  margin-left: 117px;
  margin-top: 126px;
  color: white;
}

.username-button {
  position: absolute !important;
  top: 200px !important;
  left: 653px !important;
  height: 34px !important;
  width: 68px !important;
  text-align: center;
}

.navbar {
  background-color: #343a40;
  justify-content: space-between;
}

.tweet-user {
  color: #6c757d;
}

.tweet-date {
  color: #6c757d;
  margin-left: 370px;
}

.note-text {
  color: white;
}

.link {
  margin-left: 40px;
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: #6c757d;
}

.sing-up {
  color: white !important;
}

.log-in {
  color: white !important;
}

.link-blue {
  margin-left: 5px;
  text-decoration: none;
  color: #007bff;
}

.link-blue:hover {
  text-decoration: none;
  color: cadetblue;
}


